<meta charset="utf-8">
<style type="text/css">
	.control-label-padding-top {
		padding-top: 7px;
		margin-bottom: 0;
		text-align: right;
	}
</style>
<div class="page-header" style="margin-top: 0px;">
	<h3 id="hospitalName"></h3>
	<input type="hidden" id="outPatientIDHidden" />
</div>
<div>
	<label class="col-xs-4 control-label control-label-padding-top" for="ordertime">预约时间</label>
	<div class="col-xs-8">
		<input type="text" class="form-control form_datetime" id="ordertime" readonly="readonly">
		<br />
	</div>
	<table class="table-bordered table-condensed" style="width: 100%;">
		<thead>
			<tr>
				<th style="width: 10px">&nbsp;&nbsp;&nbsp;</th>
				<th class="text-center">医生</th>
				<th class="text-center">职称</th>
				<th class="text-center" style="width: 60px;">挂号费</th>
				<th class="text-center">详情</th>
			</tr>
		</thead>
		<tbody id="doctorTable">
		</tbody>
	</table>
</div>
<br />
<div>
	<ul class="nav nav-tabs">
		<li class="active"><a href="javascript:void(0);">挂号信息</a>
		</li>
	</ul>
	<form class="form-horizontal">
		<div class="form-group" style="margin-top: 15px;">
			<label for="patientName" class="col-xs-4 control-label control-label-padding-top">病历姓名</label>
			<div class="col-xs-8">
				<input type="text" class="form-control" id="patientName" placeholder="病历姓名">
			</div>
		</div>
		<div class="form-group" style="margin-top: 15px;">
			<label for="patientIDCard" class="col-xs-4 control-label control-label-padding-top">身份证号</label>
			<div class="col-xs-8">
				<input type="text" class="form-control" id="patientIDCard" placeholder="身份证号">
			</div>
		</div>
		<div class="form-group" style="margin-top: 15px;">
			<label for="patientTelphone" class="col-xs-4 control-label control-label-padding-top">联系电话</label>
			<div class="col-xs-8">
				<input type="text" class="form-control" id="patientTelphone" placeholder="联系电话">
			</div>
		</div>
		<div class="form-group" style="margin-top: 15px;">
			<label for="patientHospitalCard" class="col-xs-4 control-label control-label-padding-top">医保卡号</label>
			<div class="col-xs-8">
				<input type="text" class="form-control" id="patientHospitalCard" placeholder="医保卡号">
			</div>
		</div>
		<div class="text-center">
			<button style="width: 30%;" class="btn btn-success" type="submit">预约</button>
		</div>
	</form>
</div>
<script id="doctorListHtml" type="text/html">
	{{if doctorList.length < 1}}
		<tr><td colspan="5">暂无医生可选！</td></tr>	
	{{/if}}
	{{each doctorList as item itemIndex}}
		<tr>
			<td class="text-center">
				<input id="doctorID" name="doctorID" type="radio" value="{{item.id}}"
				{{if itemIndex == 0}}
					checked="checked"
				{{/if}}
				/>
			</td>
			<td class="text-center">{{item.doctorName}}</td>
			<td class="text-center">{{item.doctorRank}}</td>
			<td class="text-center">{{item.regFees}}元</td>
			<td style="width: 50%;">{{item.descripe}}</td>
		</tr>
	{{/each}}
</script>